@mixin bottom-border-radius($radius) {
  -webkit-border-radius: 0 0 $radius $radius;
  -moz-border-radius: 0 0 $radius $radius;
  -ms-border-radius: 0 0 $radius $radius;
  border-radius: 0 0 $radius $radius;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

a {
  cursor: pointer;
}

#micrositeWrapper {
  h1 {
    color: #323232;
    font-family: $nhgBold;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
  }

  h3 {
    color: #00b3ac;
    display: inline-block;
    font-family: $nhgBold;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    margin: 25px 0 18px;

    &:hover {
      color: #323232;
    }
  }
  blockquote{
    background: url(../images/border_diagonal.png)repeat-x 0 top;
    border-bottom: 1px solid #e5e5e5;
    color: #323232;
    font-family: $nhgBold;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    margin: 20px 0;
    padding: 20px 5px;
    position: relative;
    text-indent: 30px;
    &:before{
      color: #00b3ac;
      content: '"';
      display: block;
      font-size: 49px;
      line-height: 1;
      position: absolute;
      top: 0;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    &:after{
      color: #00b3ac;
      content: '"';
      display: inline;
      font-size: 49px;
      line-height: 0;
      margin-left: 5px;
      position: relative;
      top: 20px;
    }
  }
}

.inlineSplash {
  background: url(../images/border_diagonal.png) 0 0;
  height: auto;
  margin: 30px 0;
  overflow: hidden;
  padding: 10px 0;

  .inlineSplashContainer {
    background: #f7f7f7;
    height: auto;
    overflow: hidden;
    padding: 30px 20px;

    .inlineSplashGraphic {
      display: none;
    }

    .inlineSplashContent {
      .inlineSplashTitle {
        color: #323232 !important;
        font-family: $nhgBold;
        font-size: 25px !important;
        font-weight: bold !important;
        line-height: 30px !important;
        margin-bottom: 20px !important;
      }

      .inlineSplashDescription {
        color: #323232 !important;
        font-family: $nhgRegular;
        font-size: 18px !important;
        line-height: 22px !important;
        margin-bottom: 20px !important;
      }

      .inlineSplashButton {
        background: #2c8cb1;
        border-radius: 3px;
        color: #fff !important;
        cursor: pointer;
        display: block;
        font-family: $nhgBold;
        font-size: 14px;
        font-weight: bold;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        width: 150px;

        &:hover{
          background: darken(#2c8cb1,10%);
        }
      }
    }
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.nativeBreadcrumb {
  font-size: 14px;
  margin-bottom: 20px;

  a {
    cursor: pointer;
  }

  span {
    margin-right: 5px;

    &:first-of-type {
      margin-right: 10px;
    }
  }
}

a.nativeButton {
  background: #00b3ac;
  clear: both;
  color: #fff;
  cursor: pointer;
  display: none;
  font-family: $nhgBold;
  font-size: 14px;
  font-weight: bold;
  height: 48px;
  line-height: 48px;
  margin: 20px auto;
  text-align: center;
  width: 100%;

  &:hover {
    background: #006860;
  }

  &.nativeButtonVisible {
    display: block;
  }

  @include border-radius(5px);

  i.icon-play:before {
    color: #fff;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 2px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }
}

@media (min-width: 640px) {
  #micrositeWrapper {
    blockquote{
      float: left;
      line-height: 28px;
      margin: 30px 10px;
      width:250px;

      &:before, &:after {
        font-size: 53px;
      }
    }
  }

  .inlineSplash{
    margin: 40px auto;

    .inlineSplashContainer {
      padding: 30px;

      .inlineSplashGraphic {
        background: url(../images/splashGraphic.png)no-repeat 0 0;
        background-size: contain;
        display: block;
        float: left;
        height: 146px;
        width: 103px;
      }

      .inlineSplashContent {
        float: right;
        width: 380px;

        .inlineSplashTitle {
          font-size: 26px;
          line-height: 31px;
        }

        .inlineSplashDescription {
          font-size: 19px;
          line-height: 23px;
          margin-bottom: 30px;
        }
      }
    }
  }

  a.nativeButton {
    margin: 40px auto 0;
    width: 264px;
  }
}

@media (min-width: 960px) {
  #micrositeWrapper {
    blockquote {
      font-size: 22px;
      width: 210px;
    }
  }

  .inlineSplash .inlineSplashContainer .inlineSplashContent {
    width: 290px;
  }

  a.nativeButton {
    margin-top: 15px;
  }
}

@media (min-width: 1280px) {
  #micrositeWrapper {
    blockquote{
      font-size: 24px;
      line-height: 30px;
      margin: 40px 20px;
      padding: 20px 10px 25px;
      width: 340px;

      &:before, &:after {
        font-size: 60px;
      }
    }
  }

  .inlineSplash .inlineSplashContainer .inlineSplashContent {
    width: 600px;

    .inlineSplashTitle {
      font-size: 28px;
      line-height: 33px;
    }
    .inlineSplashDescription {
      font-size: 21px;
      line-height: 25px;
    }
  }
}
