$nhgRegular: 'NeueHaasGroteskText W01', Helvetica, Arial, sans-serif;
$nhgBold: 'NHaasGroteskTXW01-75Bd', Helvetica, Arial, sans-serif;

// layout
@import "_reset";
@import "_global";
@import "_icomoon";
@import "_searchWrapper";

// What color is the header? 'black' or 'white'?
$nativeThemeColor: white;
$headerHeight: 60px;
$logoWidth: 169px;
// $logoWidth: 100px;

@import "library/_headerNav";
@import "library/_videoPlayer";

@import "library/_homepage";
@import "library/_topicpage";
@import "library/_articlepage";
@import "library/_onereg";

// IOTA blog? author styling
@import "library/_blog";
@import "_salesTool";
