extends searchWrappers/englishWrapper.jade
//- extends searchWrappers/germanWrapper.jade
//- extends searchWrappers/cwWrapper.jade
//- extends searchWrappers/lemagWrapper.jade
  
block content 
  #micrositeWrapper
    include pageSections/nativeHeader
    section#nativeArticlepageMain
      include pageSections/articleContent
    aside#overlay
      #overlayHeading
        p Recommended for you
        a &times;
      #overlayContent
        a(href="") Flexible, scalable Web-based apps get high marks from education CIO
