extends searchWrappers/englishWrapper.jade
//- extends searchWrappers/germanWrapper.jade
//- extends searchWrappers/cwWrapper.jade
//- extends searchWrappers/lemagWrapper.jade
  
block content 
  #micrositeWrapper
    include pageSections/nativeHeader
    section#nativeTopicpageMain
      include pageSections/topicContent
