.header-mobile-fixed {
  .nativeAdContainer {
    top: 0 !important;
  }
}

#nativeArticlepageMain{
  background: #fff;
  margin: 0 auto 40px;
  padding: 52px 10px 0;
  position: relative;
  top: $headerHeight;

  h1 {
    margin-bottom: 10px;
  }

  a {
    color: #00B3AC;
    cursor: pointer;

    &:hover {
      color: #006860;
    }
  }

  #nativeArticleHeading {
    padding-bottom: 10px;
  }

  .mainContent{
    p, ul, ol {
      color: #666;
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 30px;
    }


    ul {
      list-style-type: disc;
      padding-left: 20px;
    }

    ol {
      list-style-type: decimal;
      padding-left: 20px;
    }

    img {
      max-width: 100%;
    }
  }

  .articleAuthor {
    color: #000;
    font-size: 14px;
    line-height: 19px;

    a {
      color: #008bc1;
      cursor: pointer;

      &:hover {
        color: #005272;
      }
    }
  }

  .articleAuthorCompany {
    color: #aaa;
    font-size: 11px;
    font-weight: 700;
  }

  .microsite-summary-image{
    display: none;
    z-index: 1;
  }

  .nativeAdContainer {
    margin: 30px auto;
    position: relative;
    z-index: 1;
    width: 300px;

    &.hasAd {
      display: block;
    }
  }

  #network, #vendor-resources-bar {
    background: url(../images/border_diagonal.png)repeat-x 0 top;
    height: auto;
    overflow: hidden;
    padding: 10px 0;

    h4, .micrositeResourcesBarHeader {
      font-family: $nhgBold;
      font-size: 16px;
      font-weight: bold;
      margin: 20px 0;
    }

    ul li a{
      border-top: 1px solid #e3e3e3;
      display: block;
      padding: 20px 0;

      h5{
        color:#008ac0;
        font-family: $nhgBold;
        font-size: 14px;
        font-weight:bold;
        margin-bottom: 15px;

        &:after{
          color:#a6a6a6;
          content: "\e900";
          display: inline-block;
          font-family: 'icomoon';
          margin-left: 18px;
        }

        &:hover {
          color: #005272;
        }
      }
      p{
        color:#a6a6a6;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  #vendor-resources-bar {

    ul li {
      padding-bottom: 15px;

      a {
        padding: 20px 0 0;
      }
    }

    a {
      color:#008ac0;
      font-family: $nhgBold;
      font-size: 12px;
      line-height: 14px;
      font-weight:bold;
    }
    span {
      color:#a6a6a6;
      font-size: 12px;
      line-height: 20px;
    }
  }
}

#overlay{
  background:url(../images/border_diagonal.png)0 0;
  bottom:-100%;
  padding:10px;
  position: fixed;
  right:0;
  width:300px;
  z-index: 8;
}

#overlayHeading{
  background:#008cb1;
  height:30px;
  padding:0 10px;
  position: relative;

  p{
    color:#fff;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 30px;
  }

  a{
    color:#fff;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 18px;
    position: absolute;
    right:10px;
    text-decoration: none;
    top:5px;
  }
}

#overlayContent{
  background:#fff;
  position: relative;

  a{
    color:#000;
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 10px;
    text-decoration: none;
  }
}

#nativeArticleRight .nativeAdContainer {
  display: none;
}

@media(min-width:640px){
  #nativeArticlepageMain{
    padding: 62px 20px 60px;
    width: 640px;

    h1 {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 30px;
    }

    #nativeArticleHeading {
      padding-bottom: 20px;
    }

    .mainContent {
      p, ul, ol {
        font-size: 16px;
        line-height: 24px;
      }
    }

    #network, #vendor-resources-bar{
      ul li{
        float: left;
        margin-right: 20px;
        width: 290px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }

  .nativeArticleListing {
    li {
      width: 270px;
    }
  }

  #overlay{
    width:320px;
  }

  #overlayContent a{
    padding: 20px 10px 20px 42px;

    &:before{
      color: #008cb1;
      content:"\e903";
      font-family: 'icomoon';
      display: block;
      font-size: 25px;
      left:10px;
      position: absolute;
      top:20px;
    }
  }
}

@media(min-width:960px){
  #nativeArticlepageMain{
    padding: 62px 40px 60px;
    top: 0;
    width: 880px;

    h1 {
      font-size: 40px;
      line-height: 45px;
    }

    .mainContent{
      width:460px;

      p, ul, ol {
        font-size: 17px;
        line-height: 25px;
      }

      // p {
      //   clear: left;
      // }
    }

    .nativeAdContainer {
      margin: 0;
      position: absolute;
      right: 40px;
      top: 0;
      z-index: 2;

      > div:after {
        background: #fff;
        bottom: -20px;
        content: " ";
        display: block;
        height: 20px;
        position: absolute;
        width: 300px;
      }
    }

    .microsite-summary-image{
      background: none;
      display: block;
      line-height: normal;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 40px;
      top: 40px;
      visibility: hidden;
      width: 300px;
      img{
        height: 250px;
        width: 300px;
      }
    }
    #network{
      position: absolute;
      right: 40px;
      top: 335px;
      width: 300px;
      &.additionalAd{
        top: 565px;
      }
      ul li{
        float: none;
        margin: 0;
      }
    }
    #vendor-resources-bar{
      position: absolute;
      right: 40px;
      top: 335px;
      width: 300px;
      &.additionalAd{
        top: 565px;
      }
      ul li{
        float: none;
        margin: 0;
      }
    }
  }
}

@media(min-width:1280px){
  #nativeArticlepageMain{
    width: 1200px;
    .mainContent{
      width: 780px;

      p, ul, ol {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
}
