section#nativeHomepageMain {
  background: #f2f2f2;
  margin: 0 auto;
  padding: 50px 10px 0;
  position: relative;
  top: $headerHeight;

  &:before {
    background: url(../images/nativeBackground.jpg) no-repeat #fff;
    content: '';
    height: 140px;
    margin-left: -10px;
    margin-top: -50px;
    position: absolute;
    width: 100%;
  }
}

#nativeHomepageBody {
  background: #fff;
  padding: 20px 10px 5px;
  position: relative;

  p.description {
    display: none;
  }

  .nativeAdContainer {
    display: none;
  }
}

.nativeArticleListing, .relatedArticleListing {
  padding-bottom: 15px;
  clear: both;


  ul {
    height: auto;
    overflow: hidden;
  }

  li {
    border-top: 1px solid #e3e3e3;
    height: auto;
    overflow: hidden;
    padding: 20px 0;

    &:first-of-type {
      background: #fff url(../images/border_diagonal.png) repeat-x 0 top;
      border-top: none;
      padding-top: 30px;
    }

    &:nth-child(n+4) {
      display: none;
    }

    &:nth-child(n+4).open {
      display: block;
    }

    img {
      float: left;
      margin-right: 20px;
      width: 80px;
      height: 66px;
    }

    a {
      color: #323232;
      cursor: pointer;

      &:hover {
        color: #00b3ac;
      }

      div {
        font-size: 17px;
        font-family: $nhgBold;
        font-weight: 400;
        line-height: 19px;
        overflow: hidden;
      }
    }
  }
}

section.nativeRelatedSite {
  margin: 40px auto 0;
  position: relative;
  top: $headerHeight;
  padding-left: 10px;
  padding-right: 10px;
  width: #f2f2f2;
}

.nativeRelatedSiteBody {
  background: #fff;
  padding: 20px 10px 15px;
  margin-bottom: 20px;

  h1 {
    padding-bottom: 20px;
  }

  p.description {
    color: #666;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  ul {
    li {
      padding: 30px 0;

      &:first-of-type {
        background: #fff url(../images/border_diagonal.png) repeat-x 0 top;
      }

      &:last-of-type {
        border-bottom: none;
      }

      i {
        color: #00b3ac;
        float: left;
        padding-right: 5px;
      }

      div {
        color: #323232;
        font-size: 15px;
        line-height: 18px;
      }
    }
  }
}

@media (min-width: 640px) {
  section#nativeHomepageMain {
    background-color: #fff;
    padding: 50px 20px 0;
    width: 640px;

    h1 {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 10px;
    }

    h3 {
      font-weight: 400;
      margin-top: 30px;
    }

    p.description {
      color: #666;
      font-size: 16px;
      line-height: 24px;
    }

    &:before {
      height: 282px;
      width: 640px;
      margin-top: -50px;
      margin-left: -20px;
      content: '';
      position: absolute;
    }
  }

  #nativeHomepageBody {
    padding: 30px 20px;

    p.description {
      display: block;
    }

    .nativeAdContainer {
      float: right;
      margin: 0 0 20px 20px;
      position: relative;
      width: 300px;
      z-index: 1;

      &.hasAd {
        // display: block;
      }
    }
  }

  section.nativeRelatedSite {
    padding-left: 0;
    padding-right: 0;
    width: 640px;

    h1 {
      font-size: 24px;
      line-height: 29px;
    }

    p.description {
      font-size: 15px;
      line-height: 23px;
    }
  }

  .nativeRelatedSiteBody {
    padding: 30px 40px 60px;
  }

  .nativeArticleListing, .relatedArticleListing {
    height: auto;
    overflow: hidden;

    li {
      float: left;
      width: 270px;

      &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
        display: block;
      }

      &:nth-of-type(2) {
        background: #fff url(../images/border_diagonal.png) repeat-x 0 top;
        border-top: none;
        padding-top: 30px;
      }

      &:nth-of-type(2n-3) {
        margin-right: 20px;
      }

    }
  }
}

@media (min-width: 960px) {
  section#nativeHomepageMain {
    margin-top: 0;
    padding: 50px 40px 0;
    top: 0;
    width: 880px;

    h1 {
      font-size: 40px;
      line-height: 45px;
    }

    p.description {
      font-size: 17px;
      line-height: 25px;
    }

    &:before {
      height: 388px;
      width: 880px;
      margin-top: -50px;
      margin-left: -40px;
      content: '';
      position: absolute;
    }

    h3 {
      font-size: 18px;
      line-height: 21px;

      &:nth-of-type(n+2) {
        margin-top: 5px;
      }
    }
  }

  #nativeHomepageBody {
    padding: 40px 40px 20px;

    .nativeAdContainer {
      margin: 0 0 40px 40px;

      &.additionalAd {
        clear: right;
        top: 300px;
      }
    }
  }

  .nativeArticleListing {
    ul {
      li {
        width: 48%;
      }
    }
    li {
      width: 48%;

      &:nth-of-type(2n-3) {
        margin-right: 4%;
      }

      div {
        font-size: 17px;
        line-height: 20px;
      }

      img {
        width: 115px;
        height: 95px;
      }
    }
  }

  section.nativeRelatedSite {
    width: 880px;
    top: 0;

    ul {
      li {
        img {
          width: 115px;
          height: 95px;
        }
      }
    }
  }

  .nativeRelatedSiteBody {
    padding: 40px 80px;

    ul li div {
      font-size: 17px;
      line-height: 20px;
    }
  }

  .relatedArticleListing {

    > li {
      width: 32%;

      &:first-of-type {
        background: #fff url(../images/border_diagonal.png) repeat-x 0 top;
        border-top: none;
        padding-top: 30px;
      }
      &:nth-of-type(2) {
        border-top: none;
      }
      &:nth-of-type(3) {
        background: #fff url(../images/border_diagonal.png) repeat-x 0 top;
        border-top: none;
      }
      &:nth-of-type(2n-3) {
        margin-right: 0;
      }
      &:nth-of-type(3n-1) {
        margin-right: 2%;
      }
      &:nth-of-type(3n-2) {
        clear: left;
        margin-right: 2%;
      }
    }
  }
}

@media (min-width: 1280px) {
  section#nativeHomepageMain, section.nativeRelatedSite {
    width: 1200px;
  }

  section#nativeHomepageMain {
    width: 1200px;
    overflow: hidden;

    &:before {
      height: 530px;
      width: 1200px;
      margin-top: -50px;
      margin-left: -40px;
      content: '';
      position: absolute;
    }

    p.description {
      font-size: 16px;
      line-height: 24px;
    }
  }

  #nativeHomepageBody {
    &.hasAd {
      .nativeAdContainer {
        display: block;
        float: right;
        width: 300px;
        height: 250px;
        background: #eee;
        padding: 0 0 40px 40px;
      }
    }

    h3 {
      clear: both;
      margin-top: 0 !important;
      padding-top: 20px;
    }
  }

  .nativeArticleListing {
    ul {
      li {
        width: 32%;
      }
    }

    li {
      width: 32%;

      &:first-of-type {
        background: #fff url(../images/border_diagonal.png) repeat-x 0 top;
        border-top: none;
        padding-top: 30px;
      }
      &:nth-of-type(2) {
        border-top: none;
      }
      &:nth-of-type(3) {
        background: #fff url(../images/border_diagonal.png) repeat-x 0 top;
        border-top: none;
        padding-top: 30px;
      }
      &:nth-of-type(2n-3) {
        margin-right: 0;
      }
      &:nth-of-type(3n-1) {
        margin-right: 2%;
      }
      &:nth-of-type(3n-2) {
        clear: left;
        margin-right: 2%;
      }
    }
  }
  section.nativeRelatedSite {
    p.description {
      font-size: 18px;
      line-height: 26px;
    }
  }
}
