#bprAbstractOneReg .site-container .micrositeSponsoredContentHeader {
  display: none;
}
#bprAbstractOneReg .main-content{
  margin-top: 60px;  
}
#bprAbstractOneReg .main-content #micrositeContainer .micrositeOneReg-section{
  padding-top: 40px;
}
#bprAbstractOneReg .main-content #micrositeContainer #nativeHeader{
  position: relative;
  top:0;
}

// Height of logo will fluctuate, top margin is MANUALLY set to vertically center within 60px of header space. Also, the width of the logo effects other elements so it should be defined here as well.
$logoWidth: 169px;

#bprAbstractOneReg #nativeSponsorContent {
  $sponsoredContentLeftMargin: ($logoWidth + 10) * -1;
  margin-left: $sponsoredContentLeftMargin;
}

@media (min-width: 640px){
#bprAbstractOneReg #nativeSponsorContent {
  $sponsoredContentLeftMargin: ($logoWidth + 30) * -1;
  margin-left: $sponsoredContentLeftMargin;
}
  #bprAbstractOneReg{
    #nativeHeaderCompress {
      margin: 0 auto;
      width: auto;
      padding: 0 20px;
    }
    #nativeLogo{
      margin: 8px 0 0 10px;
    }
  }
}

@media (min-width: 960px){
  #bprAbstractOneReg #nativeSponsorContent {
    $sponsoredContentLeftMargin: ($logoWidth + 10) * -1;
    margin-left: $sponsoredContentLeftMargin;
  }
  #bprAbstractOneReg .main-content{
    margin-top: 0;
    width:880px;
  }
  #bprAbstractOneReg #nativeHeader {
    position: relative;
    top:100px;
    #nativeHeaderCompress {
        margin: 0 auto;
        width: 880px;
        padding: 0;
    }
  }

  #bprAbstractOneReg.header-desktop-fixed #nativeHeader {
    top:57px;
  }
}

@media (min-width: 1280px){
  #bprAbstractOneReg .main-content{
    margin-top: 0;
    width:1200px;
  }
  #bprAbstractOneReg #nativeHeader {
    // position: fixed;
    // top:100px;
    #nativeHeaderCompress {
        margin: 0 auto;
        width: 1200px;
        padding: 0;
    }
  }
}
