.header-mobile-fixed {
  #nativeTopicpageMain {
    height: auto !important;
  }
}

#nativeTopicpageMain{
  background: #fff;
  margin: 0 auto 40px;
  padding: 50px 10px 0;
  position: relative;
  top: $headerHeight;
  width: 96%;

  h1 {
    margin-bottom: 20px;
  }

  .nativeAdContainer {
    // background: #323232;
    display: none;
    // float: right;
    margin: 20px auto;
    position: relative;
    width: 300px;
    z-index: 1;
  }

  #nativeTopicBody {
    height: auto;
    overflow: hidden;
    position: relative;
  }

  #nativeTopicBody .nativeArticleListing li{
    &:first-of-type{
      background: none;
      padding-top: 0;
    }
  }

  .mainContent{
    p{
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 30px;
    }
  }

  .microsite-summary-image {
    display: none;
  }

  #network {
    background: url(../images/border_diagonal.png)repeat-x 0 top;
    height: auto;
    overflow: hidden;
    padding: 10px 0;

    h4{
      font-family: $nhgBold;
      font-size: 16px;
      font-weight: bold;
      margin: 20px 0;
    }

    ul li a{
      border-top: 1px solid #e3e3e3;
      display: block;
      padding: 20px 0;

      h5{
        color:#008ac0;
        font-family: $nhgBold;
        font-size: 14px;
        font-weight:bold;
        margin-bottom: 15px;
        &:after{
          color:#a6a6a6;
          content: "\e900";
          display: inline-block;
          font-family: 'icomoon';
          margin-left: 18px;
        }
      }
      p{
        color:#a6a6a6;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}

@media(min-width:640px){
  #nativeTopicpageMain{
    padding: 60px 20px 40px;
    width: 640px;

    h1 {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 30px;
    }

    .nativeAdContainer {
      display: block;
      float: right;
      margin: 0 0 20px 40px;
      position: absolute;
      right: 0;
      padding-bottom: 16px;
      background: #fff;
    }

    .mainContent p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px;
    }

    a.nativeButton {
      margin-top: 20px;
    }

    .microsite-summary-image {
      background: none;
      display: block;
      float: right;
      right: 0;
      padding-left: 30px;

      &.hasAd {
        position: absolute;
      }

      img {
        width: 300px;
        height: 250px;
      }
    }

    .nativeArticleListing {
      padding-bottom: 40px;

      li:nth-of-type(2n+1){
        clear: left;
      }
      li:nth-of-type(2){
        background: #fff;
        padding-top: 0;
      }
    }

    #network{
      ul li{
        float: left;
        margin-right: 10px;
        width: 290px;

        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}

@media(min-width:960px){
  #nativeTopicpageMain {
    padding: 62px 40px 20px;
    top: 0;
    width: 880px;

    h1 {
      font-size: 40px;
      line-height: 45px;
      margin-bottom: 30px;
    }

    .mainContent {
      width: 470px;
      float: left;

      p {
        font-size: 17px;
        line-height: 25px;
      }
    }

    .nativeAdContainer {
      position: absolute;
      top: 0;
      right: 0;
    }

    .nativeArticleListing {

      li {
        width: 100%;
        border-top: 1px solid #e3e3e3;
        height: auto;
        overflow: hidden;
        padding: 20px 0;

        &:first-of-type {
          background: #fff url(../img/border_diagonal.png) repeat-x 0 top;
          border-top: none;
          padding-top: 30px;
        }

        &:nth-of-type(2) {
          background: #fff;
          padding-top: 20px;
        }

        &:nth-child(n+7) {
          display: none;
        }

        &:nth-child(n+4).open {
          display: block;
        }

        img {
          float: left;
          margin-right: 20px;
          width: 115px;
          height: 95px;
        }

        div {
          font-size: 17px;
          font-weight: 700;
          line-height: 21px;
          overflow: hidden;
        }
      }
    }

    #nativeTopicRight {
      position: absolute;
      top: 0;
      right: 40px;
    }

    #network{
      position: relative;
      float: right;
      width: 300px;
      &.additionalAd{
        top: 565px;
      }
      ul li{
        float: none;
        margin: 0;
      }
    }
  }
}

@media(min-width:1280px){
  #nativeTopicpageMain{
    width: 1200px;

    .mainContent{
      width: 780px;

      p {
        font-size: 18px;
        line-height: 26px;
      }
    }

    .nativeArticleListing {
      height: auto;
      overflow: hidden;

      li {
        width: 48%;

        &:nth-of-type(2) {
          border-top: none;
          padding-top: 0;
        }

        &:nth-of-type(3) {
          background: #fff;
        }

        &:nth-of-type(2n-3) {
          margin-right: 2%;
          clear: left;
        }

        &:nth-of-type(3n-2) {
          clear: none;
        }
      }
    }

    #network {
      clear: right;
    }
  }
}
