#nativeArticleHeading.clearfix
  p.nativeBreadcrumb
    span
      i.icon-home
    span 
      a Home
    span
      > 
      a.articleTopicName Etsy asymmetrical butcher hashtag
  h1.articleTitle We finished our first sensor sweep of the neutral zone.
  //- IOTA author image
  .main-article-author
    .image-resize
      img(src='http://cdn.ttgtmedia.com/rms/onlineImages/horwitz_lauren-B.jpg')
  p.articleAuthor by 
    a 
      span Four dollar toast
  p.articleAuthorCompany IBM
#nativeArticleBody
  .mainContent
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis laudantium quibusdam delectus, suscipit quis recusandae est numquam impedit tempora eaque beatae vel velit, eveniet, aliquam quaerat obcaecati voluptas non. Modi.
    .nativeAdContainer
      //<div id="div-gpt-ad-1452889091374-1">
      // <script type="text/javascript">
      // GPT(function () {
      //  var slot = this.googletag.defineSlot('/3618/mcrst', [300,250], 'div-gpt-ad-1452889091374-1');
      //  slot.setTargeting("mcrst", "nativeaddemoarticlepage"); // applies just to this slot
      //  slot.display(); // convenience method extended by the proxied googletag object
      // });
      // </script>
      // <div id="google_ads_iframe_/3618/mcrst_0__container__" style="border: 0pt none;">
      // <iframe id="google_ads_iframe_/3618/mcrst_0" title="3rd party ad content" name="google_ads_iframe_/3618/mcrst_0" width="300" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px; vertical-align: bottom;"></iframe></div>
      // <iframe id="google_ads_iframe_/3618/mcrst_0__hidden__" title="" name="google_ads_iframe_/3618/mcrst_0__hidden__" width="0" height="0" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px; vertical-align: bottom; visibility: hidden; display: none;"></iframe>
      // </div>
    p We could cause a diplomatic crisis. Take the ship into the Neutral Zone How long can two people talk about nothing? The Enterprise computer system is controlled by three primary main processor cores, cross-linked with a redundant melacortz ramistat, fourteen kiloquad interface modules. Fear is the true enemy, the only enemy.
    ol
      li Four dollar toast
      li Chillwave street
      li Kale chips DIY
    p Messenger bag before they sold out slow-carb twee franzen, echo park hashtag dreamcatcher post-ironic kogi fingerstache gochujang ennui wayfarers.
    ul
      li Beer Me!
      li Asymmetrical tote bag
      li How quaint.
    p Percolator filter breve bar, white aromatic blue mountain froth espresso redeye. Extra, cup redeye, kopi-luwak latte beans crema steamed at con panna. Cappuccino, bar, wings sweet est cream and dripper. Robust wings aftertaste dark siphon seasonal, turkish ristretto aftertaste sugar black.
    .nativeAdContainer
    blockquote Proper configuration for virtual desktop infrastructure (VDI) is probably more important than any application
    p Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
    p Founders value proposition leverage non-disclosure agreement advisor rockstar. Focus supply chain angel investor freemium startup innovator niche market channels strategy.
    #videoPlayerContainer
      //- Video ID = 4443437023001
      //- playlist IDs
      //-[4236238425001]; // 1 item
      //-[4234547962001]; // 2 items
      //-[4234547944001]; // 3 items
      //-[4287609999001]; // 4 items
      //-[4234547961001]; // 9 items
      //-[4539093745001]; // Just MP4s
      video#video-1.video-js(data-account="1660622130",data-list-id="4234547961001", data-player="2483e45a-7074-4c6a-8470-0e4a53b3bef8", data-embed="default", controls="")
      #heroPlaylistContainer
        ol.vjs-playlist
          li.removeLI
      #heroPlaylistInfoContainer
        p
          span#slider-prev
          span.videoInfo
          span#slider-next
      script(src="//players.brightcove.net/1660622130/2483e45a-7074-4c6a-8470-0e4a53b3bef8_default/index.min.js")
      script(src="http://cdn.ttgtmedia.com/rms/ux/javascript/microsite/videojs.ga.videocloud.js")
      script(src="javascript/video.js")
    p Gotham's been good to our family, but the city's been suffering. People less fortunate than us have been enduring very hard times. So we built a new, cheap, public transportation system to unite the city. And at the center, Wayne tower.
    img(src="images/imageforarticle.png",width="545")
    .nativeAdContainer
    p Post-ironic irony lo-fi, four loko mlkshk iPhone mustache listicle readymade kitsch mixtape sartorial. Mixtape tote bag lomo occupy art party tousled, cliche celiac drinking vinegar dreamcatcher 3 wolf moon kitsch raw denim pork belly mlkshk. Taxidermy single-origin coffee fap pickled etsy, 8-bit church-key microdosing. Shabby chic hammock put a bird on it semiotics cronut, chartreuse skateboard cardigan. Readymade artisan art party, hella sartorial everyday carry four dollar toast venmo you probably haven't heard of them poutine gentrify keytar williamsburg drinking vinegar. Wolf cardigan pop-up pour-over 3 wolf moon austin pitchfork, whatever before they sold out squid PBR&B mustache. Twee flexitarian waistcoat PBR&B meh.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis laudantium quibusdam delectus, suscipit quis recusandae est numquam impedit tempora eaque beatae vel velit, eveniet, aliquam quaerat obcaecati voluptas non. Modi.
    p We could cause a diplomatic crisis. Take the ship into the Neutral Zone How long can two people talk about nothing? The Enterprise computer system is controlled by three primary main processor cores, cross-linked with a redundant melacortz ramistat, fourteen kiloquad interface modules. Fear is the true enemy, the only enemy.
    p Messenger bag before they sold out slow-carb twee franzen, echo park hashtag dreamcatcher post-ironic kogi fingerstache gochujang ennui wayfarers. 
    figure.inlineSplash
      .inlineSplashContainer
        .inlineSplashGraphic
        .inlineSplashContent
          p.inlineSplashTitle Accelerate Your Infrastructure:
          p.inlineSplashDescription Can Converged Infrastructure and Flash help deliver on its promise?
          a.inlineSplashButton Download Now
    p Percolator filter breve bar, white aromatic blue mountain froth espresso redeye. Extra, cup redeye, kopi-luwak latte beans crema steamed at con panna. Cappuccino, bar, wings sweet est cream and dripper. Robust wings aftertaste dark siphon seasonal, turkish ristretto aftertaste sugar black.
    p Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
    p Founders value proposition leverage non-disclosure agreement advisor rockstar. Focus supply chain angel investor freemium startup innovator niche market channels strategy.
    p Gotham's been good to our family, but the city's been suffering. People less fortunate than us have been enduring very hard times. So we built a new, cheap, public transportation system to unite the city. And at the center, Wayne tower.
    p Post-ironic irony lo-fi, four loko mlkshk iPhone mustache listicle readymade kitsch mixtape sartorial. Mixtape tote bag lomo occupy art party tousled, cliche celiac drinking vinegar dreamcatcher 3 wolf moon kitsch raw denim pork belly mlkshk. Taxidermy single-origin coffee fap pickled etsy, 8-bit church-key microdosing. Shabby chic hammock put a bird on it semiotics cronut, chartreuse skateboard cardigan. Readymade artisan art party, hella sartorial everyday carry four dollar toast venmo you probably haven't heard of them poutine gentrify keytar williamsburg drinking vinegar. Wolf cardigan pop-up pour-over 3 wolf moon austin pitchfork, whatever before they sold out squid PBR&B mustache. Twee flexitarian waistcoat PBR&B meh.
#nativeArticleRight
  //- .nativeAdContainer
  .microsite-summary-image
    .imageWithCredit
      p Shutterstock
      img(src="http://cdn.ttgtmedia.com/customvisuals/cloud/cloud_001.jpg")
  #network.sideContent
    h4 Also in Our Network 
    ul
      li 
        a 
          h5 Cloud Security
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
      li 
        a 
          h5 Cloud Storage
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
  #vendor-resources-bar.sideContent
    .micrositeResourcesBarHeader Vendor
    ul.micrositeResourcesBarList
      li.micrositeResourcesBarItem
        a Vegan microdosing umami
        span Company 1
      li.micrositeResourcesBarItem 
        a Dreamcatcher 8-bit keffiyeh, kombucha art party trust fund helvetica bespoke
        span Company 2
      li.micrositeResourcesBarItem 
        a Taxidermy tilde cardigan franzen ramps humblebrag banjo
        span Company 3
