.nativeRelatedSiteBody
  a
    h1 YOLO selfies direct trade
    p.description Ugh etsy banh mi pickled pour-over selvage pabst. Craft beer keffiyeh 90's, VHS wayfarers quinoa gastropub four dollar toast williamsburg vegan plaid mustache flannel fap. Paleo small batch mixtape PBR&B sriracha chia.
  ul.relatedArticleListing
    li
      a
        i.icon-play
        div Trust fund pinterest meditation
    li
      a
        i.icon-play
        div Biodiesel DIY trust fund mustache 
    li
      a
        i.icon-play
        div Gochujang salvia yr hammock

.nativeRelatedSiteBody
  a
    h1 Beer Me!
    p.description Mlkshk squid 90's tofu. Cliche blue bottle affogato fingerstache. Shoreditch meggings lo-fi intelligentsia, pour-over letterpress viral farm-to-table.
  ul.relatedArticleListing
    li
      a
        i.icon-play
        div Chicharrones cronut occupy thundercats
    li
      a
        i.icon-play
        div Schlitz freegan skateboard viral lomo
    li
      a
        i.icon-play
        div Cronut neutra flexitarian
