#nativeHomepageBody
  .nativeAdContainer.hasAd
    //<div id="div-gpt-ad-1452889091374-1">
    // <script type="text/javascript">
    // GPT(function () {
    //  var slot = this.googletag.defineSlot('/3618/mcrst', [300,250], 'div-gpt-ad-1452889091374-1');
    //  slot.setTargeting("mcrst", "nativeaddemoarticlepage"); // applies just to this slot
    //  slot.display(); // convenience method extended by the proxied googletag object
    // });
    // </script>
    // <div id="google_ads_iframe_/3618/mcrst_0__container__" style="border: 0pt none;">
    // <iframe id="google_ads_iframe_/3618/mcrst_0" title="3rd party ad content" name="google_ads_iframe_/3618/mcrst_0" width="300" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px; vertical-align: bottom;"></iframe></div>
    // <iframe id="google_ads_iframe_/3618/mcrst_0__hidden__" title="" name="google_ads_iframe_/3618/mcrst_0__hidden__" width="0" height="0" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px; vertical-align: bottom; visibility: hidden; display: none;"></iframe>
    // </div>
  h1 Single-origin coffee roof party williamsburg
  p.description IPhone umami brooklyn, stumptown disrupt williamsburg brunch single-origin coffee. Paleo small batch mixtape PBR&B sriracha chia, beard hashtag distillery keytar vice. Artisan tattooed affogato, 3 wolf moon tofu keytar PBR&B tote bag leggings microdosing DIY gentrify forage semiotics.
  .nativeArticleListing
    a
      h3 Taxidermy vice pug
    ul
      li
        a
          img(src='http://placehold.it/88x60')
          div Mumblecore jean shorts kinfolk austin.
      li
        a
          img(src='http://placehold.it/88x60')
          div Williamsburg hoodie cornhole, ethical artisan helvetica
      //- li
      //-   a
      //-     img(src='http://placehold.it/88x60')
      //-     div Photo booth salvia cronut vice four loko fanny pack bitters bespoke
      //- li
      //-   a
      //-     img(src='http://placehold.it/88x60')
      //-     div Stumptown 3 wolf moon YOLO 90's.
      //- li
      //-   a
      //-     img(src='http://placehold.it/88x60')
      //-     div Hella skateboard stumptown, readymade Franzen authentic crucifix semiotics iPhone cold-pressed retro 
      //- li
      //-   a
      //-     img(src='http://placehold.it/88x60')
      //-     div Polaroid umami tofu iPhone
      //- li
      //-   a
      //-     img(src='http://placehold.it/88x60')
      //-     div Food truck direct trade normcore tattooed 3 wolf moon
      //- li
      //-   a
      //-     img(src='http://placehold.it/88x60')
      //-     div Kickstarter normcore austin, vinyl narwhal ethical retro 
      //- li
      //-   a
      //-     img(src='http://placehold.it/88x60')
      //-     div Etsy narwhal cardigan chambray offal PBR&B
      //- li
      //-   a
      //-     img(src='http://placehold.it/88x60')
      //-     div Authentic disrupt four loko leggings bicycle rights 
    a.nativeButton View More Articles
      i.icon-play
  //- .nativeArticleListing
    a
      h3 Topic 2 testing 
    ul
      li
        a
          img(src='http://placehold.it/88x60')
          div For an android with no feelings 
      li
        a
          img(src='http://placehold.it/88x60')
          div He sure managed to evoke them in others
  //- .nativeArticleListing
    a
      h3 Topic 3 testing 
    ul
      li
        a
          img(src='http://placehold.it/88x60')
          div Why don't we just give everybody a promotion and call it a night - 'Commander'? Damage report!
      li
        a
          img(src='http://placehold.it/88x60')
          div Starfleet is going to want a full investigation.
      li
        a
          img(src='http://placehold.it/88x60')
          div My oath is between Captain Kargan and myself.
  //- .nativeArticleListing
    a
      h3 Everyday carry lumbersexual selfies 
    ul
      li
        a
          img(src='http://placehold.it/88x60')
          div Squid quinoa wayfarers, readymade venmo 
      li
        a
          img(src='http://placehold.it/88x60')
          div Helvetica schlitz mlkshk lomo
      li
        a
          img(src='http://placehold.it/88x60')
          div Plaid sustainable paleo williamsburg photo booth brunch.
      li
        a
          img(src='http://placehold.it/88x60')
          div Wayfarers retro bushwick whatever 8-bit.
      li
        a
          img(src='http://placehold.it/88x60')
          div Mumblecore jean shorts kinfolk austin.
      li
        a
          img(src='http://placehold.it/88x60')
          div Retro try-hard cray kitsch
    a.nativeButton View More Articles
      i.icon-play
