header#nativeHeader
  #nativeHeaderCompress
    #nativeLogo
      a(href="index.html")
        img(src='images/clientLogo.png')
    #nativeSponsorContent
      p.nativeSponsorTagline
        span Sponsored Content
        i.icon-info.sponsorInfoClosedContent
      .nativeSponsorInfoPanel
        p Sponsored content is a special advertising section provided by IT vendors. It features educational content and interactive media.
          i.icon-closeButton
    #nativeMenus
      nav#nativeNavigation
        a#nativeCollapsedNavigationText
          i.icon-play
          ul
            li.open(data-submenu-id='submenu-1')
              a(href='topic.html')
                span Hybrid Cloud
                i.icon-play
              ul#submenu-1
                li
                  a(href='article.html') Making Cloud Services More Transparent
                li
                  a(href='') Making Cloud Services More Transparent
                li
                  a(href='') Making Cloud Services More Transparent
                li
                  a(href='') The Trend Toward Hybrid Cloud
            li.open(data-submenu-id='submenu-2')
              a(href='')
                | Convergence
                i.icon-play
              ul#submenu-2
                li
                  a(href='') The Importance of Automation for Simplifying Cloud Migrations
                li
                  a(href='') How DevOps Can Ease the Enterprise Cloud Experience
            //- li.open(data-submenu-id='submenu-3')
            //-   a(href='http://preview.eng.techtarget.com:8080/searchCloudStorage/Nativeaddemo/resources/Hybrid-Cloud')
            //-     span Hybrid Cloud
            //-     i.icon-play
            //-   ul#submenu-3
            //-     li
            //-       a(href='http://searchcloudstorage.eng.techtarget.com/Nativeaddemo/Making-Cloud-Services-More-Transparent') Making Cloud Services More Transparent
            //-     li
            //-       a(href='http://searchcloudstorage.eng.techtarget.com/Nativeaddemo/The-Trend-Toward-Hybrid-Cloud') The Trend Toward Hybrid Cloud
            //- li.open(data-submenu-id='submenu-4')
            //-   a(href='http://preview.eng.techtarget.com:8080/searchCloudStorage/Nativeaddemo/resources/Convergence')
            //-     | Convergence
            //-     i.icon-play
            //-   ul#submenu-4
            //-     li
            //-       a(href='http://searchcloudstorage.eng.techtarget.com/Nativeaddemo/The-Importance-of-Automation-for-Simplifying-Cloud-Migrations') The Importance of Automation for Simplifying Cloud Migrations
            //-     li
            //-       a(href='http://searchcloudstorage.eng.techtarget.com/Nativeaddemo/How-DevOps-Can-Ease-the-Enterprise-Cloud-Experience') How DevOps Can Ease the Enterprise Cloud Experience
            //- li.open(data-submenu-id='submenu-5')
            //-   a(href='http://preview.eng.techtarget.com:8080/searchCloudStorage/Nativeaddemo/resources/Hybrid-Cloud')
            //-     span Hybrid Cloud
            //-     i.icon-play
            //-   ul#submenu-5
            //-     li
            //-       a(href='http://searchcloudstorage.eng.techtarget.com/Nativeaddemo/Making-Cloud-Services-More-Transparent') Making Cloud Services More Transparent
            //-     li
            //-       a(href='http://searchcloudstorage.eng.techtarget.com/Nativeaddemo/The-Trend-Toward-Hybrid-Cloud') The Trend Toward Hybrid Cloud
            //- li.open(data-submenu-id='submenu-6')
            //-   a(href='http://preview.eng.techtarget.com:8080/searchCloudStorage/Nativeaddemo/resources/Convergence')
            //-     | Convergence
            //-     i.icon-play
            //-   ul#submenu-6
            //-     li
            //-       a(href='http://searchcloudstorage.eng.techtarget.com/Nativeaddemo/The-Importance-of-Automation-for-Simplifying-Cloud-Migrations') The Importance of Automation for Simplifying Cloud Migrations
            //-     li
            //-       a(href='http://searchcloudstorage.eng.techtarget.com/Nativeaddemo/How-DevOps-Can-Ease-the-Enterprise-Cloud-Experience') How DevOps Can Ease the Enterprise Cloud Experience

          //- li(data-submenu-id="submenu-cdm")
          //-   a.active(href="topic.html")
          //-     i.icon-play
          //-     span Cloud and Data Management
          //-   ul#submenu-cdm
          //-     li
          //-       a(href="article.html") Article 1
          //-     li
          //-       a(href="") Article 2
          //-     li
          //-       a(href="") Article 3
          //-     li
          //-       a(href="") More On This Topic
          //-         i.icon-arrow
          //- li(data-submenu-id="submenu-dci")
          //-   a.active(href="topic.html")
          //-     i.icon-play
          //-     span Data Center Infrastructure
          //-   ul#submenu-dci
          //-     li
          //-       a(href="article.html") Article 1
          //-     li
          //-       a(href="") Article 2
          //-     li
          //-       a(href="") Article 3
          //-     li
          //-       a(href="") More On This Topic
          //-         i.icon-arrow
          //- li(data-submenu-id="submenu-bd")
          //-   a.active(href="topic.html")
          //-     i.icon-play
          //-     span Big Data
          //-   ul#submenu-bd
          //-     li
          //-       a(href="article.html") Article 1
          //-     li
          //-       a(href="") Article 2
          //-     li
          //-       a(href="") Article 3
          //-     li
          //-       a(href="") More On This Topic
          //-         i.icon-arrow
          //- li(data-submenu-id="submenu-cc")
          //-   a.active(href="topic.html")
          //-     i.icon-play
          //-     span Cloud Computing
          //-   ul#submenu-cc
          //-     li
          //-       a(href="article.html") Article 1
          //-     li
          //-       a(href="") Article 2
          //-     li
          //-       a(href="") Article 3
          //-     li
          //-       a(href="") More On This Topic
          //-         i.icon-arrow
          //- li(data-submenu-id="submenu-mite")
          //-   a.active(href="topic.html")
          //-     i.icon-play
          //-     span Mobility in the Enterprise
          //-   ul#submenu-mite
          //-     li
          //-       a(href="article.html") Article 1
          //-     li
          //-       a(href="") Article 2
          //-     li
          //-       a(href="") Article 3
          //-     li
          //-       a(href="") More On This Topic
          //-         i.icon-arrow
      section#nativeSocialShare
        i.icon-share
        ul.share-bar
          li.share-bar-item.share-bar-item-desktop.socialMedia-facebook(title='Like/Share on Facebook', data-socialsite='facebook')
            a(href='#')
              i.icon(data-icon='u')
          li.share-bar-item.share-bar-item-desktop.socialMedia-twitter(title='Share on Twitter', data-socialsite='twitter')
            a(href='#')
              i.icon(data-icon='c')
          li.share-bar-item.share-bar-item-desktop.socialMedia-linkedin(title='Share on LinkedIn', data-socialsite='linkedin')
            a(href='#')
              i.icon(data-icon='o')
          li.share-bar-item.share-bar-item-desktop.contentTools-email(title='Email a Friend')
            a(href='http://api.addthis.com/oexchange/0.8/forward/email/offer?pubid=uxtechtarget&url=http%3A%2F%2Fpreview.techtarget.com%3A8080%2Fibmbizconnect%3Fvgnextrefresh%3D1%233744114142001&title=Managing+the+%22Smart+Enterprise%22&email_template=TechTargetSearchSites&ct=1')
              i.icon(data-icon='n')
