#nativeTopicHeading
  p.nativeBreadcrumb
    span
      i.icon-home
    span 
      a Home
  h1.articleTitle We finished our first sensor sweep of the neutral zone.
#nativeTopicBody
  .microsite-summary-image
    .imageWithCredit
      p Shutterstock
      img(src="http://cdn.ttgtmedia.com/customvisuals/cloud/cloud_001.jpg")
  .mainContent
    .nativeAdContainer
      //<div id="div-gpt-ad-1452889091374-1">
      // <script type="text/javascript">
      // GPT(function () {
      //  var slot = this.googletag.defineSlot('/3618/mcrst', [300,250], 'div-gpt-ad-1452889091374-1');
      //  slot.setTargeting("mcrst", "nativeaddemoarticlepage"); // applies just to this slot
      //  slot.display(); // convenience method extended by the proxied googletag object
      // });
      // </script>
      // <div id="google_ads_iframe_/3618/mcrst_0__container__" style="border: 0pt none;">
      // <iframe id="google_ads_iframe_/3618/mcrst_0" title="3rd party ad content" name="google_ads_iframe_/3618/mcrst_0" width="300" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px; vertical-align: bottom;"></iframe></div>
      // <iframe id="google_ads_iframe_/3618/mcrst_0__hidden__" title="" name="google_ads_iframe_/3618/mcrst_0__hidden__" width="0" height="0" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px; vertical-align: bottom; visibility: hidden; display: none;"></iframe>
      // </div>
    p Fate protects fools, little children and ships named Enterprise. A lot of things can change in twelve years, Admiral. Wouldn't that bring about chaos? I'd like to think that I haven't changed those things, sir. I've had twelve years to think about it. And if I had it to do over again, I would have grabbed the phaser and pointed it at you instead of them. Well, that's certainly good to know. This should be interesting.
    .nativeArticleListing
      ul
        li
          a
            img(src='http://placehold.it/80x66')
            div Squid quinoa wayfarers, readymade venmo Squid quinoa wayfarers, readymade venmo  Squid quinoa wayfarers, readymade venmo 
        li
          a
            img(src='http://placehold.it/80x66')
            div Helvetica schlitz mlkshk lomo
        li
          a
            img(src='http://placehold.it/80x66')
            div Plaid sustainable paleo williamsburg photo booth brunch.
        li
          a
            img(src='http://placehold.it/80x66')
            div Wayfarers retro bushwick whatever 8-bit.
        li
          a
            img(src='http://placehold.it/80x66')
            div Mumblecore jean shorts kinfolk austin.
        li
          a
            img(src='http://placehold.it/80x66')
            div Retro try-hard cray kitsch
        li
          a
            img(src='http://placehold.it/80x66')
            div Squid quinoa wayfarers, readymade venmo 
        li
          a
            img(src='http://placehold.it/80x66')
            div Helvetica schlitz mlkshk lomo
        //- li
        //-   a
        //-     img(src='http://placehold.it/80x66')
        //-     div Plaid sustainable paleo williamsburg photo booth brunch.
        //- li
        //-   a
        //-     img(src='http://placehold.it/80x66')
        //-     div Wayfarers retro bushwick whatever 8-bit.
        //- li
        //-   a
        //-     img(src='http://placehold.it/80x66')
        //-     div Mumblecore jean shorts kinfolk austin.
        //- li
        //-   a
        //-     img(src='http://placehold.it/80x66')
        //-     div Retro try-hard cray kitsch
      a.nativeButton View More Articles
        i.icon-play
#nativeTopicRight
  #network.sideContent
    h4 Also in Our Network 
    ul
      li 
        a 
          h5 Cloud Security
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
      li 
        a 
          h5 Cloud Security
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
      li 
        a 
          h5 Cloud Security
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
      li 
        a 
          h5 Cloud Security
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor       li 
      li 
        a 
          h5 Cloud Security
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
